body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #3f3f3f;
}

h1 {
  text-align: center;
  padding: 0 1rem;
  color: #acacac;
}
.upArrow {
  font-size: 5rem;
  transition: transform .5s;
  font-family: Arial, Helvetica, sans-serif;
}

.root {
  --paddingMargin: 1rem;
  height: 50vh;
  background-color: #5f5f5f;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: var(--paddingMargin);
  margin: 5px;
  /* transition: bottom 1s; */
  /* bottom: -450px; */
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}
.puller {
  margin-top: calc(var(--paddingMargin) * -1);
  padding: var(--paddingMargin);
}
.pullerInner {
  margin: 0 auto;
  width: fit-content;
  padding: 3px 30px;
  border-radius: 30px;
  background-color: #afafaf;
}
.root p {
  color: #fff;
}

.dot {
  background-color: red;
  padding: 1rem;
  border-radius: 50%;
  position: absolute;
}
